.wrapper-bmi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-bmi a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    text-decoration: none;
}
.wrapper-bmi a:hover{
    background-color: aqua;
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 50px aqua;
    color: black;

}
.wrapper-bmi:first-child{
    filter: hue-rotate(225deg);
}
.wrapper-bmi:last-child{
    filter: hue-rotate(90deg);
}
.wrapper-bmi a span{
    position: absolute;
    display: block;
}
.wrapper-bmi a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgb(228, 195, 10));
    animation: animate1 1s infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
.wrapper-bmi a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #69f809);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
.wrapper-bmi a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, rgb(228, 195, 10));
    animation: animate3 1s infinite;
    animation-delay: .5s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
.wrapper-bmi a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #69f809);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}